<footer>
    <div class="row">
        <span class="col-sm-1"></span>
        <ul class="col-sm-9">
            <li>Thank you for visiting our website</li>
            <li>You can find the whole code of this website in my <a href="https://github.com/Neyronbite" target="_blank">github</a></li>
            <li>Code - Neyronbite</li>
            <li>Translate - Wizardofvengerberg</li>
            <li>Contact with us in instagram- <a href="https://www.instagram.com/neyronbiteysch/" target="_blank">neyronbite</a>, <a href="https://www.instagram.com/wizardofvengerberg/" target="_blank">wizardofvengerberg</a></li>
        </ul>
    </div>
</footer>