
<header>
    <h3 class="row">
        <span class="col-sm-1"></span>
        <img src="~/Other/Images/logo.jpg" class="img-circle img-logo" alt="SantaImg" />
        @Html.ActionLink("Home", "index", "Home")
        @if (User.Identity.IsAuthenticated)
        {
            <span style="margin-left: 60%;">@Html.ActionLink("Logout", "logout", "Home", null, new { @class = "text-reset" })</span>
        }
    </h3>
</header>
