@model SecretSanta.Models.ConfirmModel

@{
    ViewBag.Title = "Confirm";
    ViewBag.footer = SecretSanta.common.Enums.PartialStateEnum.none.ToString();
}

<h2>@Model.Name is your Secret Santa</h2>

<p>You are invited ... Some Text</p>

